/* AccidentSimulation.css */
.wheel {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Ensures the wheel is perfectly circular */
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 0.5s ease-in-out;
}


.pedal {
  width: 30px; /* Wider for better visibility */
  height: 100px; /* Taller for more accurate simulation */
  position: absolute;
  bottom: -120px; /* Position lower than previously */
}

.gas-pedal {
  transform: translateX(50%); /* Ensures it's perfectly aligned to the right */
  bottom: -170px; /* Position lower than previously */
  width: 30px; /* Wider for better visibility */
  height: 100px; /* Taller for more accurate simulation */
  position: absolute;
}

.brake-pedal {
  transform: translateX(-50%); /* Ensures it's perfectly aligned to the left */
  bottom: -170px; /* Position lower than previously */
  width: 30px; /* Wider for better visibility */
  height: 100px; /* Taller for more accurate simulation */
  position: absolute;

}

.seat {
  width: 80px;
  height: 80px;
  background-color: #bdbdbd; /* Adjust the color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.eye-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.eye-indicator.open {
  background-color: green;
}

.eye-indicator.closed {
  background-color: red;
}

.speedometer {
  font-size: 1.5em;
  margin-top: 1em;
}

.seatbelt-indicator {
  color: #f44336; /* Adjust the color as needed */
  font-size: 1.5em;
  margin-top: 1em;
}
