/* Container */
#wheel {
	position: relative;
	margin: 10px auto;
	width: 300px;
	height: 300px;
	background: white;
}

/* Shine on the steering wheel */
#wheel::before {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #5F5F5F;
    height: 93%;
    left: 3.5%;
    opacity: 0.4;
    top: 3.5%;
    width: 93%;
    content:'';
	position: absolute;
	border-radius: 50%;
	background:trasparent;
	z-index:3;

}

/* Round Part of the wheel */
#wheel_b {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: black;
	background: -webkit-gradient(linear, center top, center bottom, from(#1C1C1C), color-stop(0.02, #1C1C1C), color-stop(0.09, #000000), color-stop(0.93, #000000), to(#596378));
	background: -webkit-linear-gradient(center top , #1C1C1C, #1C1C1C 2%, #000000 9%, #000000 93%, #5C5C5C);
	background: -moz-linear-gradient(center top , #1C1C1C, #1C1C1C 2%, #000000 9%, #000000 93%, #5C5C5C);
	background: -ms-linear-gradient(center top , #1C1C1C, #1C1C1C 2%, #000000 9%, #000000 93%, #5C5C5C);
	
	border-right: 2px solid rgba(89, 99, 120, 0.4);
    border-top: 2px solid rgba(89, 99, 120, 0.4);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	
}

/* Steering wheel interior */
#wheel_c {
	height: 80%; 
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
	border-radius: 50%;
	background: white;
	overflow:hidden;
	z-index:2;
	
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}

/* Top Left Part */
#wheel_c::before {
    content:'';
	height: 8.3%;
    left: 0px;
    position: absolute;
    top: 30%;
    width: 47.917%;
	border-radius: 19%;
	background: black;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(0.3, #000000), color-stop(0.5, #373737), color-stop(0.7, #000000), to(#000000));
	background: -webkit-linear-gradient(top center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	background: -moz-linear-gradient(top center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	background: -ms-linear-gradient(top center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	
	transform:rotate(20deg);
	-ms-transform:rotate(20deg); 
	-moz-transform: rotate(20deg); 
	-webkit-transform:rotate(20deg); 
	-o-transform:rotate(20deg); 
	
	-moz-transform-origin: 20% 120%;
	-ms-transform-origin: 20% 120%;
	-webkit-transform-origin: 20% 120%;
	-o-transform-origin: 20% 120%;
}

/* Top Right Part */
#wheel_c::after {
    content:'';
	height: 8.3%;
    right: 0px;
    position: absolute;
    top: 30%;
    width: 47.917%;
	border-radius: 19%;
	background: black;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(0.3, #000000), color-stop(0.5, #373737), color-stop(0.7, #000000), to(#000000));
	background: -webkit-linear-gradient(top center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	background: -moz-linear-gradient(top center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	background: -ms-linear-gradient(top center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	-webkit-transform:rotate(-20deg); 
	-o-transform:rotate(-20deg); 
	
	-moz-transform-origin: 80% 120%;
	-ms-transform-origin: 80% 120%;
	-webkit-transform-origin: 80% 120%;
	-o-transform-origin: 80% 120%;
}

/* Bottom Center Part */
#wheel_d {
	height: 49.17%;   
    bottom: -10px;
    position: absolute;
	left: 44%;        
    width: 9.17%;
	border-radius: 19%;
	background: black;
	background: -webkit-gradient(linear, left center, right center, from(#000000), color-stop(0.3, #000000), color-stop(0.5, #373737), color-stop(0.7, #000000), to(#000000));
	background: -webkit-linear-gradient(left center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	background: -moz-linear-gradient(left center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
	background: -ms-linear-gradient(left center , #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
}

/* Center Center Part */
#beep {
	border-radius: 100px 100px 180px 180px / 20px 20px 250px 250px;
    height: 29.17%;
    left: 30%;     
    position: absolute;
    top: 38%;        
    width: 37.5%;   
    z-index: 1;
	background: black;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#323232));
	background: -moz-linear-gradient(center top , #000000, #323232);
	background: -webkit-linear-gradient(center top , #000000, #323232);
	background: -ms-linear-gradient(center top , #000000, #323232);
	background: -o-linear-gradient(center top , #000000, #323232);
}

#beep::after {
    background: #373737;
    border-radius: 100px 100px 180px 180px / 20px 20px 250px 250px;
    content: "";
    height: 35.71%;   
    left: 8%;      
    position: absolute;
    top: 8%;           
    width: 85.71%;      
}