.App {
    padding: 10px;
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .map-container {
    width: 900px;
    height: 500px;
  }